
// Variables globales 
$font-oswald: "Oswald", serif;
$font-creepster: "Creepster", system-ui;
$color-black: black;
$color-white: white;
$color-red: rgb(182, 65, 65);
$color-blue: #007bff;
$color-yellowgreen: yellowgreen;
$color-grey: #e9e5e5;
$color-lightgrey: #f4f4f4;
$color-darkgreen: #033b1b;
$color-lightgreen: rgb(103, 221, 103);